# Legacy dependencies
soundfile
joblib
audiomentations

# Transformer architecture dependencies
--pre
--extra-index-url https://download.pytorch.org/whl/nightly/cpu
torch
torchaudio
pytorch-lightning
transformers
timm
wandb

# Audio processing
librosa
scipy

# Data handling
numpy<2.0
pandas
scikit-learn

# Utilities
tqdm
matplotlib
seaborn
psutil
pedalboard

# Development
jupyter
ipywidgets
music21

# Development Tools
black
isort
ruff
mypy
pyfakefs
resampy
six
setuptools<81
